 
 h1 {
   background-color: rgb(39, 35, 35);
   color: white;
   text-align: center;
   line-height: 70px;
   position: absolute;
   width: 100%;

 }

 section {
   width: 70%;
   float: right;
   margin-top: 0;
   line-height: 70px;
   
   
   
 }

 aside {
  width: 30%;
 padding-top: 70px;
 /*background-color: rgb(233, 232, 232);  */
 padding-left: 10px;
 }
 
 #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
   
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
 /* list-style-type: none;  */
 
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
}

 


*,
*::before,
*::after {
  box-sizing: border-box;
}

  .clearfix {
    overflow: auto;
  }

 
 